<%= form_for(@offense) do |f| %>
  <% if @offense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offense.errors.count, "error") %> prohibited this offense from being saved:</h2>

      <ul>
      <% @offense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>  <div class="field">
      <%= f.label :phone %><br>
      <%= f.text_field :phone %>
    </div>
  <div class="actions">
    <%= f.submit "Create Offense", class: "create-button" %>
  </div>
<% end %>
